<!DOCTYPE html>
<html>
<head>
<title>Flood relief</title>

</head>
<body align="center">

<h1 style="color:#659ba0;">REGISTRATION</h1>


<style>
     .button:hover {

    color: white;
     box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
     cursor: pointer;
}
</style>

<hr><p>
    <h5 style="color:red;">All Fields marked '*' are compulsary</h5>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>First Name </strong><strong style="color:red;"> *</strong><br>
    <input required type="text" size="20" name="input1" class="form-control" value=""><p>

    <strong>Gender</strong><strong style="color:red;"> *</strong><br>
    <input type="radio" name="radio" value="Male" checked> Male
    <input type="radio" name="radio" value="Female"> Female<p>
<strong>Camp location</strong><strong style="color:red;"> *</strong><br>
    <input required type="text" size="20" name="input2" value=""><p>
    <strong>Residential address</strong><strong style="color:red;"> *</strong><br>
    <input required type="text" size="20" name="input3" value=""><p>
   
  


    <strong>Any message</strong><br>
    <textarea rows="4" cols="40" name="textarea"></textarea><p>


 

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input class='button' type="submit" value="Upload!" id="upload-button" style="background:#dde0db;border: 2px solid #d4dbdb;border-radius: 7px;width:60px;height:40px;outline:none;">
</p>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

</body>
</html>
